BOT_TOKEN=8699704460:AAHXLm_bLv9JtQn1zSdMjU7JvWtrFrAAob8
CHANNEL_URL=https://t.me/+cShBQFBp9uRiMTY1
GROUP_URL=https://t.me/+jJRAa8yuampkMDBl
CHANNEL_USERNAME=
GROUP_USERNAME=
CHANNEL_CHAT_ID=-1003573986901
GROUP_CHAT_ID=-1002442084661
TIMEZONE=Asia/Ho_Chi_Minh
ADMIN_1=@deplaoreal
ADMIN_2=@Otdoreal